.footer-text {
    //background-color: #3f3f3f;
    height: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(192, 192, 192);
    font-size: 0.9em;   
}